body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  /* размер шрифта */
  color: #0a143a;
  /* цвет шрифта */
}
.container {
  max-width: 1146px;
  /* максимальная ширина */
  margin: auto;
  /* выравнивание посередине */
}
.header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 12px;
}
.navbar {
  display: flex;
  /* делаем блок гибким */
  align-items: center;
  /* выравниваем по вертикали по центру */
  justify-content: space-between;
  /* разбросать элементы по краям */
  margin-bottom: 24px;
}
.navbar-menu {
  margin-right: auto;
  /* автоматический отступ справа */
}
.menu {
  list-style: none;
  /* отключаем точки в списке */
  margin: 0;
  /* обнуляем отступы */
  padding-left: 22px;
  /* внутренний отступ слева */
  padding-right: 22px;
  /* внутренний отступ справа */
  display: flex;
}
.menu-item:not(:last-child) {
  /* для всех пунктов меню кроме последнего */
  margin-right: 14px;
  /* применяем отступ справа */
}
.menu-link {
  text-decoration: none;
  /* отключаем подчеркивания ссылок */
  color: inherit;
  /* возьми цвет текста как у твоего родителя (body) */
}
.button {
  text-decoration: none;
  display: inline-block;
  /* чтобы нормально воспринимать отступы */
  padding: 10px 15px;
  /* расстояние сверху и снизу внутри кнопки */
  cursor: pointer;
  /* при наведении на кнопку мышка превращается в указатель */
}
.button-link {
  color: inherit;
}
.button-primary {
  background: #256eeb;
  /* фон */
  border-radius: 5px;
  /* скругление углов */
  color: white;
}
.search-panel {
  height: 50px;
  background: #256eeb;
  border-radius: 5px;
  /* радиус скругления по краям */
  display: flex;
  padding: 3px;
  /* отступ */
}
.search-input {
  flex-grow: 1;
  /* растягивается на все свободное место */
  background: #ffffff;
  border-radius: 5px;
  border: none;
  padding-left: 22px;
  padding-right: 22px;
}
.search-button {
  background: #256eeb;
  border: none;
  color: white;
  padding-left: 20px;
  padding-right: 17px;
  display: flex;
  align-items: center;
  /* чтобы выровнять лупу и текст посередине по центру */
}
.search-button-text {
  margin-left: 5px;
}
/* делаем расстояние между текстом и лупой */
.page-content {
  display: grid;
  /* задает более гибкую чем flex разметку */
  grid-template-columns: 9fr 3fr;
  /* с помощью этого делим разметку на кусочки */
  grid-column-gap: 30px;
}
.card-image {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover;
  /* картинка обрежется под нужные параметры, если она изначально другого размера */
}
.cards {
  display: flex;
  flex-wrap: wrap;
  /* если карточка не помещается, она соскакивает на новую строчку */
}
.card {
  margin-bottom: 20px;
  /* отступ снизу для карточек */
}
.card:not(:nth-child(3n)) {
  margin-right: 20px;
}
.card-title {
  font-size: 16px;
  line-height: 19px;
  color: #256eeb;
  margin-top: 12px;
  margin-bottom: 5px;
  max-width: 230px;
  /* максимальная ширина блока - не дает тексту выходить за рамки и он переносится */
}
/* фраза электросамокат */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* настраиваем расположение кнопки лайка и раскидываем по краям, и чтобы не расплющило */
.like {
  background-color: white;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}
.card-link {
  text-decoration: none;
  /* отключили подчеркивания */
}
.card-price {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  display: block;
  /* сделали элемент блочным, чтобы он не обтекался другими объектами и для него сработали отступы */
}
/* ценник */
.card-text {
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 4px;
  margin-top: 0;
}
.service {
  margin-bottom: 25px;
}
.service-title {
  font-weight: bold;
  /* жирный текст */
  font-size: 14px;
  /* размер текста */
  line-height: 16px;
  /* высота строки */
  margin-top: 7px;
  /* отступ сверху */
  margin-bottom: 5px;
  /* отступ снизу */
}
.service-text {
  font-size: 14px;
  line-height: 16px;
  max-width: 217px;
}
.footer-text {
  display: inline-block;
  /* чтобы заработал отступ - гибридный тип элемента */
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 5px;
}
.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  /* убираем точки и отступы */
  margin-bottom: 16px;
}
.footer-link {
  color: inherit;
  /* цвет как у родительского элемента */
  text-decoration: none;
  /* убираем подчеркивание */
  display: inline-block;
  margin-bottom: 5px;
}
